@import url("https://use.typekit.net/xsm8ctc.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about-section {
  padding: 2.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
  width: 100vw;
  height: fit-content;
  background: linear-gradient(to top, #8e885f, #7b7263);
}

.about-title-box {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  height: fit-content;
}

.about-title {
  color: black;
  margin: 0 auto;
  display: flex;
}
.about-text-box {
  width: 90%;
  word-wrap: normal;
}

.about-text {
  word-wrap: normal;
  color: black;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-pic-2 {
  margin-top: 2vh;
  width: 50vw;
  margin-bottom: 4vh;
}

.intro-container {
  box-sizing: border-box;
  padding: 3vh;
  width: 100vw;
  background: linear-gradient(to bottom, #8e885f, #7b7263);
  background-size: cover;
  background-position: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}

.intro-container img {
  width: auto;
}
.profile-pic {
  height: 50vh;
  margin-top: 1.5vh;
}

.social-icons {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
  margin-top: 2rem;
}

.each-icon {
  display: flex;
  margin-right: 2vw;
  margin-left: 2vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5vh auto;
}

.social-icons a {
  margin: 0 0.7rem;
  cursor: pointer;
}

.mobile {
  display: initial;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

.intro-cursor {
  height: 72px;
  width: 2px;
  background: white;
  margin-left: 10px;
  margin-top: 207px;
  -webkit-animation: blink 0.4s linear none infinite;
  animation: blink 0.4s linear none infinite;
}

.section-scroll-down {
  position: absolute;
  top: 90vh;
  height: 70px;
  width: 100px;
  -webkit-animation: bounce 1.2s ease-in-out none infinite;
  animation: bounce 1.2s ease-in-out none infinite;
}

@media (min-width: 750px) {
  .mobile {
    display: none;
  }
  .tablet {
    display: initial;
    margin-top: 1.5rem;
  }
  .tablet a {
    margin: 0 1rem;
  }
}

@media (min-width: 1024px) {
  .tablet {
    display: none;
  }
  .desktop {
    display: initial;
    margin-top: 2rem;
  }
  .desktop a {
    margin: 0 1.5rem;
  }
  .intro-container img {
    max-width: 1000px;
  }
}

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h4 {
  word-wrap: normal;
}

.projects-container {
  box-sizing: border-box;
  width: 100vw;
  padding: 2rem 0;
  background: linear-gradient(to right, #7b7263, #5f6062);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.name-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
}

.project-items-container {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
}

.project-item {
  width: 65%;
  margin: 1.5rem 0;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.project-item img {
  width: 100%;
}

.project-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #8e885f;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.project-item:hover::after {
  top: 0;
  opacity: 0.9;
}

.project-item:hover .project-btn {
  opacity: 1;
}

.project-btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.project-btn {
  margin: 0 30px;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.project-btn:hover {
  color: #f0f3bd;
}

@media (min-width: 750px) {
  .project-items-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .project-item {
    width: 40%;
    margin: 1.5rem;
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  .project-items-container {
    max-width: 1000px;
  }
}

.skills-container {
  box-sizing: border-box;
  width: 100vw;
  padding: 2rem 0;
  background: linear-gradient(to left, #7b7263, #5f6062);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.skills-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
}

@media (min-width: 1024px) {
  .skills-map {
    max-width: 1100px;
  }
}

.skill-container {
  margin: 1.3rem;
}

.skill-container img {
  height: 3rem;
}

.skill-container h4 {
  font-size: 1.2rem;
}

@media (min-width: 750px) {
  .skill-container img {
    height: 4rem;
  }
  .skill-container h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .skill-container img {
    height: 5rem;
  }
  .skill-container h4 {
    font-size: 2rem;
  }
}

.contact-container {
  box-sizing: border-box;
  width: 100vw;
  background: linear-gradient(to left, #7b7263, #5f6062);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
  height: 80%;
}

.contact-item {
  margin: 1.2rem;
}

.contact-item a {
  cursor: pointer;
}

@media (min-width: 750px) {
  .contact-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .contact-item {
    display: flex;
    box-sizing: border-box;
    margin: 1.2rem 3rem;
    flex-direction: row;
  }
  .contact-container {
    height: fit-content;
  }
}

.footer-container {
  height: 70px;
  width: 100vw;
  background: #05668d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
  margin-top: 1rem;
}

.footer-social-icons a {
  margin: 0 0.7rem;
  cursor: pointer;
}

.app-container {
  box-sizing: border-box;
  text-align: center;
  font-family: "ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.app-container a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "rokkitt", serif;
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-family: "rokkitt", serif;
  font-size: 4rem;
  font-weight: 600;
}

h3 {
  font-family: "rokkitt", serif;
  font-size: 3rem;
  font-weight: 700;
  word-wrap: normal;
}

h4 {
  font-family: "rokkitt", serif;
  font-size: 2rem;
  font-weight: 700;
}

h5 {
  font-family: "ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

h6 {
  font-family: "ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=App.css.map */
